{% extends 'base.html.twig' %}
{% block registerform %}
<a class="main-button p-3 mb-2 bg-primary text-white" href="/champion-list">Champions</a>
<a class="main-button p-3 mb-2 bg-primary text-white" href="/login">login</a>
<a class="main-button p-3 mb-2 bg-primary text-white" href="/" class="">Home</a>
<div class="registration-form">
	{{ form_start(registerForm) }}
	<div class="inline">
		{{ form_row(registerForm.username) }}
		{{ form_row(registerForm.summoner) }}
		{{ form_row(registerForm.email) }}
		{{ form_row(registerForm.password) }}
	</div>
	<input class="inline" type="submit"/>
	{{ form_end(registerForm) }}
</div>
{% endblock %}
