{% extends 'base.html.twig' %}
{% block sumonner %}
    <link rel="stylesheet" href="{{ asset('css/user.css') }}">

<div class="user-block">
	{% for queue in user %}
		<div class="card user-card">
			<div class="rank">
				<p>{{ queue.getQueueType() }} :  {{ queue.getTier() }} {{ queue.getRank() }}</p>
				<p><p class="league-points">{{ queue.getLeaguePoints() }} points</p> {{ queue.getWins() }} W | {{ queue.getLosses() }} L </p>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

